
.profile{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-size: 1rem;
}
.notifications{
    background: #0990F9;
    width: 30px;
    height: 30px;
    border-radius: 9999px;
}
.foto{
    width: 60px;
    height: 60px;
    background: #0990F9;
    border-radius: 9999px;
}
.aside-right{
    position: fixed;
    right: 0px;
}
.container-aside{
    border-top-left-radius: 40px;
    width: 25vw;
    height: 85vh;
    background: var(--cor-padrao);
}